@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  /* outline: dashed black 1px; */
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-soft-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-main-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-main-background);
  padding: 20px;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: var(--color-card-background);
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 280px;
  min-width: 280px;
}

.main-image {
  width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.overlay-tint {
  background: rgba(0, 255, 247, 0.5);
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 10px;
  opacity: 0;
  z-index: 20;
}

.overlay-tint:hover{
  opacity: 1;
}

.hover-eye {
  position: absolute;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-eye-image {
  width: 50px;
  height: 50px;
  z-index: 15; 
}

.main-title {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 24px;
}

.main-title:hover {
  color: var(--color-primary-cyan);
}


.description {
  color: var(--color-primary-soft-blue);
  font-size: 18px;
  font-weight: 300;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-text-align {
  display: flex;
  align-items: center;
}

.price {
  color: var(--color-primary-cyan);
  font-weight: bold;
}

.icon {
  margin: 0 10px;
}

.duration {
  color: var(--color-primary-soft-blue);
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-line);
}

.author-line {
  display: flex;
  align-items: center;
  color: var(--color-primary-soft-blue);
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px white;
  margin-right: 15px;
}

.author-name {
  color: white;
  margin-left: 4px;
}

.author-name:hover {
  color: var(--color-primary-cyan);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}