@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  outline: dashed black 1px;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-soft-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-main-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-main-background);
  padding: 20px;
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: var(--color-card-background);
  border-radius: 15px;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-image {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.main-title {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 1.6rem;
}

.description {
  color: var(--color-primary-soft-blue);
  font-size: 1.1rem;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-text-align {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.price {
  color: var(--color-primary-cyan);
}

.icon {
  margin: 0 10px;
}

.duration {
  color: var(--color-primary-soft-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}